 @import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i';
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

       
body{
    font-family: 'Noto Sans', sans-serif;
}   
.container{
    max-width: 800px;
    margin:0 auto;
    padding:5px;
}
.date{
    font-style:italic;
    font-size:12;
    display: inline; 
}
a{
    text-decoration: none;
    color: #fff;
    background-color: #382032;
    padding: 5px;
    border-radius:2px;
}
a:click{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #4b3646;
    padding: 5px;
    border-radius:2px;
}