 @import 'https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i';
 
 body{
     margin:0px !important;
     padding:0px !important;
 }
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

       
.container{
    max-width: 800px;
    margin:0 auto;
    padding:5px;
}
.date{
    font-style:italic;
    font-size:12;
    display: inline; 
}
